body {
    padding: 0;
    margin: 0;
    background-color: #DEF9C4;
}

/* Navbar section */
.title {
    padding: 14px;
    font-size: 40px;
    background-color: #50B498;
    color: #021526;
    text-align: center;
    font-weight: 300;
}

/* Footer section */
.footer {
    background-color: #50B498;
    color: #021526;
    bottom: 0;
    width: 100%;
    font-weight: 400;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    position: fixed;

    display: flex;
    justify-content: center;
}

.footer a {
    margin-right: 10px;
}

.fa-brands {
    padding-top: 10px;
}

.p_element{
    font-size: 18px;
}